name: Build and Deploy v3.0

on:
  pull_request:
    types: [closed]
jobs:
  test_ci:
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Copiar carpeta al servidor remoto
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }} # Reemplaza con el nombre de tu secreto SSH
        run: |
          # Configurar la clave SSH
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          
          # Copiar la carpeta al servidor remoto
          scp -r /functionTest ultradev@admins.neuralwisp.com:~/testFolder
      - name: Finish
        run: echo "Finished"
  close_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == false
    runs-on: ubuntu-22.04
    steps:
      - name: Finish
        run: echo "Finished"

        

      