name: Testing CI

on:
  push:
    branches:
      - main
jobs:
  test_ci:
    runs-on: ubuntu-22.04
    steps:
      - name: Test
        run: echo "Hello World"
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - run: npm ci
      - run: npm test
